.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: '1rem';
    font-size: large;
    position: fixed;
    top: 150px;
    left: 550px;
    background-color: transparent;
    width: 500px;
    height: 550px;
    border-radius: 5px;
    box-shadow: 70px 70px 100px #000;
}
.form-input-material{
color: white;
}
.form-control-material{
color: white;
}
::-moz-placeholder {
    color:white;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    }
    ::-webkit-input-placeholder {
        color: white;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        }
