.upload{
    position: relative;
    font-size: small;
    display:table;
    display: block;
    text-align: center;
    background: #44a08d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #44a08d, #093637); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #44a08d, #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 3%;
    border: 1px solid black;
    float:left;
    opacity: 0.88;
    left:400px;
}
.uploadpr{
    text-align: center;
    border-radius: 7%;
}
.table{
    padding: 20px; 
    border:1.5px solid black;
   /* background-color:darkgrey;*/
    background-color: darkgray;
    margin: 20px;
    border-radius: 5px;
}
