.regular-style{
        padding: 0.5rem;
        border-radius: 25px;
        font-size: 1rem;
        width: 300px;
        color: black;
}
.btn-camp{
position: fixed;
top: 550px;
margin-bottom: 20px;
font-size: 20px;
border-radius: 5px;
width: 150px;
height: 35px;
color: black;
}