.labelN-style{
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 25px;
    color: white;
    position: relative;
    bottom:750px;
}
.car{
    position: relative;
    bottom: 750px;
}