.busc{
    position: relative;
    top:20px;
}
.lista{
    position: relative;
    top:70px;
}
input.entradaB{
    border-style: solid;
    border-color: black;
}
.data{
    position: relative;
    top:50px;
    width: 1200px;
    left:150px;
}
.Pacien{
    background-color: rgb(179, 128, 226);
}
.boton{
    border-radius: 5px;
}