.entrada-style{
    --input--default-border-color: rgb(228, 216, 216);
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 1rem;
    width: 400px;
}

[type=text]{
    display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(182, 31, 31, 0.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(190, 32, 32, 0.4);
}