.cuerp{
    background-color: rgb(159, 206, 214);
    width: 600px;
    height: 650px;
        
}
.infoDoc{
    position: relative;
    left:50px;
    bottom: 100px;
}
.image{
   position: relative;
   border-radius: 90px;
   
}
.PasA{
background-color: aqua;
width: 250px;
height: 200px;
position: relative;
left:10px;
border-radius: 10px;
}
.PasE{
background-color: aqua;
width: 250px;
height: 200px;
position: relative;
left: 330px;
bottom: 200px;
border-radius: 10px;
}
.Pima{
    position: relative;
    top:80px;
    right: 130px;
}
.Pime{
    position: relative;
    top:80px;
    right: 130px;
}
.num{
    position: relative;
    top:80px;
    font-size: 30px;
    right: 20px;
}.estadis{
    background-color: rgb(207, 163, 221);
    width:915px;
    height: 650px;
    position: relative;
    left:600px;
    bottom: 650px;
}
.gra1{
    position: relative;
    left:150px;
}
.gra2{
    position: relative;
    right:80px;
}
.gra3{
    position: relative;
    left:400px;
    bottom: 200px;
}
.h4{
    position: relative;
    right: 150px;
}